<!DOCTYPE html>
<html>
  <head>
    <title>Caesar Cipher</title>
    <link rel="stylesheet" href="bootstrap.min.css" />
  </head>
  <body class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Caesar Cipher</a>
        </div>
      </div>
    </nav>
<%= yield %>
  </body>
</html>
